/*inicio galeria*/
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.galeria img{
    border: 1px solid #ccc;
    padding: 5px;
    width: 18%;
    margin-bottom: 20px;
    margin-right: 2%;
    box-sizing: border-box;
}


.galeria img:nth-child(5n+1){
    border: 1px solid red;
}
.galeria img:nth-child(3){
    background-color: aqua;
    border-color: none;

}
/*fin galeria*/