/*Inicio Servicios*/
.servicio{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
.servicio .info h4{
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px dashed #2e64a1; /*esto es para hacer el subrayado que va de extremo a extremo*/
    padding-bottom: 10px;
}
.servicio .info p{
    font-size: 13px;
    /* line-height: 19px; */
}
.servicio img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}
.servicio:nth-child(even){
    flex-direction: row-reverse;
}
/*fin servicios*/